@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
 box-sizing: border-box;
 margin: 0;
}

html {
 font-size: 1rem;
}

body {
 @apply bg-[#282A36] text-white;
}

.btn--toggles {
 @apply bg-[#282A36] text-[#F8F8F2] hover:bg-[#282A36] hover:text-[#f8b659] py-1 md:py-3 px-4 md:px-6 rounded-3xl text-sm md:text-lg border-2 border-[#f8b659];
}

#generator-buttons > button {
 @apply bg-white py-2 px-4 md:py-4  md:px-12 text-neutral-800 font-bold text-sm  md:text-lg;
}
